@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
   }
   
   ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
   }
   
   ::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra de desplazamiento */
   }
   
   ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra de desplazamiento al pasar el mouse */
   }

   /* CustomDatePicker.css */
.custom-datepicker-popper {
    background-color: white; /* Ajusta el color de fondo según sea necesario */
    border-radius: 4px; /* Ajusta el borde redondeado según sea necesario */
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); /* Añade sombra para dar profundidad */
    z-index: 1000; /* Asegura que el DatePicker se muestre por encima de otros elementos */
   }